@import "tailwindcss";

:root {
  --background: #f8f7ff;
  --foreground: #171717;
  --primary: #cc0000;
  --secondary: #1a1a5e;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-input {
    background-color: #f8f9fa;
  }
}
